# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.env
.venv
venv/
env/
*.env

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Hugging Face / tokens
*.json
token*
*hf_*
